name: Mirror Main to GitLab Staging

on:
  push:
    branches:
      - main

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
          known_hosts: 'git.unicaen.fr'

      - name: Push to GitLab
        run: |
          ssh-keyscan git.unicaen.fr >> ~/.ssh/known_hosts
          git remote add gitlab git@git.unicaen.fr:iut-gon-info/sae5-2025/groupe13.git
          
          # Pousser vers une branche non protégée (ex: github-sync ou staging)
          git push --force gitlab main:github-sync-mobile